<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <title></title>
</head>

<body>
 <table style="width:100%">
   <thead>
  <tr>
    {{#each shift}}
    <th style="color:{{this.color}}">{{this.day_name}}</th>
    {{/each}}
    
  </tr>
  </thead>
  
  <tbody>
  <tr>
    {{#each shift}}
    <td style="color: {{this.color}}">
      {{#each this.waiter_name}}
      <ul>
      <li>{{this.waiter_name}}</li>
      </ul>
      {{/each}}
    </td>
    {{/each}}
  </tr>
  </tbody>
 
</table>
  <a href='/reset'><button type="button" class="btn">reset</button></a>
  <button class="backBtn" on type="submit"><a href="/"> Back</a></button>
  
  </div>

</body>

</html>