<div class="container">
 
    <h1>Vigilant-Vegan bistro</h1>
     <div class="body">
 <h2> For setting up your shifts <br> add waiter followed by a foward slash add your name and press enter. <br>
 for example (url/waiter/name)</h2> 
 
  </div>
    
  
</div>
  


  
 