<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title></title>
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="row">
  <ul>
  
  



  


  <form action="/waiter/{{username}}" method="POST">

  {{#each allSevenDays}}
  <input type="checkbox" name="days" value="{{this.day_name}}" class="check">
<span>{{this.day_name}}</span>
  {{/each}}
  


<button type="submit" class="subBtn">Submit</button><br>
<button class="backBtn" on type="submit"><a href="/"> Back</a></button><br>

  </form>
</ul>


</div>
</div>
<h1>{{username}}</h1>
</body>
</html>