<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title></title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <ul>
  {{!-- {{#each waiters}}
  t
  <li> <a href="/counter/{{@key}}"> {{@key}} </a> </li>
  


  {{/each}} --}}


  <form action="/waiters/{{waiters}}" method="POST">
  <input type="checkbox" name="days" class="check">Sunday
  <input type="checkbox" name="days" class="check">Monday
  <input type="checkbox" name="days" class="check">Tuesday
  <input type="checkbox" name="days" class="check">Wednesday
  <input type="checkbox" name="days" class="check">Thursday
  <input type="checkbox" name="days" class="check">Friday
  <input type="checkbox" name="days" class="check">Saturday


<button type="submit" class="subBtn">Submit</button>
  </form>
</ul>

<div>
    <button class="backBtn" on type="submit"><a href="/"> Back</a></button>

</div>

</body>
</html>