body{
  background-image:  url("../images/vv.jpeg");
padding: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 500px;
  margin: auto;
  color: aliceblue;
  padding: 25px;
  background-color: darkgray;
}

.table, td, th {
  border: 1px solid black;
}
